/*
PingData Config - OpenAPI 3.0

This is the PingData Configuration API

API version: 0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// LogFieldSyntaxApiService LogFieldSyntaxApi service
type LogFieldSyntaxApiService service

type ApiGetLogFieldSyntaxRequest struct {
	ctx context.Context
	ApiService *LogFieldSyntaxApiService
	logFieldSyntaxName string
}

func (r ApiGetLogFieldSyntaxRequest) Execute() (*GetLogFieldSyntax200Response, *http.Response, error) {
	return r.ApiService.GetLogFieldSyntaxExecute(r)
}

/*
GetLogFieldSyntax Returns a single Log Field Syntax

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param logFieldSyntaxName Name of the Log Field Syntax to be read
 @return ApiGetLogFieldSyntaxRequest
*/
func (a *LogFieldSyntaxApiService) GetLogFieldSyntax(ctx context.Context, logFieldSyntaxName string) ApiGetLogFieldSyntaxRequest {
	return ApiGetLogFieldSyntaxRequest{
		ApiService: a,
		ctx: ctx,
		logFieldSyntaxName: logFieldSyntaxName,
	}
}

// Execute executes the request
//  @return GetLogFieldSyntax200Response
func (a *LogFieldSyntaxApiService) GetLogFieldSyntaxExecute(r ApiGetLogFieldSyntaxRequest) (*GetLogFieldSyntax200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetLogFieldSyntax200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogFieldSyntaxApiService.GetLogFieldSyntax")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/log-field-syntaxes/{log-field-syntax-name}"
	localVarPath = strings.Replace(localVarPath, "{"+"log-field-syntax-name"+"}", url.PathEscape(parameterToString(r.logFieldSyntaxName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateLogFieldSyntaxRequest struct {
	ctx context.Context
	ApiService *LogFieldSyntaxApiService
	logFieldSyntaxName string
	updateRequest *UpdateRequest
}

// Update an existing Log Field Syntax
func (r ApiUpdateLogFieldSyntaxRequest) UpdateRequest(updateRequest UpdateRequest) ApiUpdateLogFieldSyntaxRequest {
	r.updateRequest = &updateRequest
	return r
}

func (r ApiUpdateLogFieldSyntaxRequest) Execute() (*GetLogFieldSyntax200Response, *http.Response, error) {
	return r.ApiService.UpdateLogFieldSyntaxExecute(r)
}

/*
UpdateLogFieldSyntax Update an existing Log Field Syntax by name

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param logFieldSyntaxName Name of the Log Field Syntax to be updated
 @return ApiUpdateLogFieldSyntaxRequest
*/
func (a *LogFieldSyntaxApiService) UpdateLogFieldSyntax(ctx context.Context, logFieldSyntaxName string) ApiUpdateLogFieldSyntaxRequest {
	return ApiUpdateLogFieldSyntaxRequest{
		ApiService: a,
		ctx: ctx,
		logFieldSyntaxName: logFieldSyntaxName,
	}
}

// Execute executes the request
//  @return GetLogFieldSyntax200Response
func (a *LogFieldSyntaxApiService) UpdateLogFieldSyntaxExecute(r ApiUpdateLogFieldSyntaxRequest) (*GetLogFieldSyntax200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetLogFieldSyntax200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LogFieldSyntaxApiService.UpdateLogFieldSyntax")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/log-field-syntaxes/{log-field-syntax-name}"
	localVarPath = strings.Replace(localVarPath, "{"+"log-field-syntax-name"+"}", url.PathEscape(parameterToString(r.logFieldSyntaxName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateRequest == nil {
		return localVarReturnValue, nil, reportError("updateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
